* {
    font-family: Verdana;
}

#shortcut_form label {
    width: 12em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

#shortcut_form input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 20em;
}


#shortcut_form p.submit {
    margin-left: 12.5em;
}

#container {
    width: 600px;
    margin: 0 auto;
}

.error {
    background: red;
}
