<!DOCTYPE html>

<html>
<head>
	<title>Rznij!</title>
	<meta http-equiv="Content-Language" content="pl" />
	{% block header %}{% endblock %}

	<script src="{{ STATIC_URL }}js/external/jquery-1.6.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/external/jquery-namespace.js"></script>
    {% load socketio %}
    {% socketio_client_script %}


	<script src="{{ STATIC_URL }}js/app.js" type="text/javascript"></script>

	<link rel="icon" href="{{ STATIC_URL }}images/icons/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css">
</head>
<body>

<div id="container">
    <h1>rznij.net</h1>
    <form id="shortcut_form">
        <label for="url">Adres</label>
        <input id="url">
        <br>
        <label for="shortcut">Skrót (opcjonalny)</label>
        <input id="shortcut">
        <br>
        <input class="submit" type="submit" value="Rznij!">
        <br>
        <label for="shortcut_url">Skrócony adres</label>
        <input id="shortcut_url" disabled>
        <div style="clear: both"></div>
    </form>
    <div class="footer">Autor: Jakub Stasiak.
        Projekt uzywa <a href="https://www.djangoproject.com/">Django</a>.
        Kod dostepny na <a href="https://github.com/jstasiak/rznij">github.com</a>.
    </div>


</div>


<!-- Github ribbon -->
<a href="https://github.com/jstasiak/rznij"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/c641758e06304bc53ae7f633269018169e7e5851/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>

</body>
</html>
